* {
    margin: 0;
    box-sizing: border-box;
}
html {
    display: flex;
    width: 100%;
    font-family: 'Alegreya Sans';
    font-weight: 400;
}


/* navigation elements below */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    position: fixed;
    width: 100%;
}
nav :hover {
    opacity: 0.5;
}
.nav li {
    list-style-type: none;
    background-color: #232323;
    text-transform: uppercase;
    width: 100%;
    padding: 5px;
    text-align: center;
    justify-content: center;
    margin-bottom: 5px;  
}
nav li a {
    color: white;
    text-decoration: none;
}
nav li :hover {
    color: #54BE90;
}
#logo {
    background-color: white;
}
#portfolio {
    background-color: #54BE90;
    color: #232323;
}
#portfolio :hover {
    color: #232323;
}



/* name section elements below */
.name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30vh;
    height: 70vh;
    color: white;
    background-image: url('meadow.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    /* if background-size contain doesn't work, use cover */
}
.name h1, .name h2 {
    justify-content:center;
    align-items: center;
}
.name h1 {
    font-size: 8vh;
}
.name h2 {
    font-size: 6.5vh;
    padding-bottom: 50px;
}
.aneta {
    text-decoration: underline;
    text-decoration-color: white;
    font-size: 9vh;
    color: #54be90;
    font-weight: 800;
    text-shadow: 3px 3px black;
}



/* statement elements below */
.statement {
    flex-direction: column;
    background-color: white;
}
#statement {
    color: #232323;
    text-align: center;
    padding: 10vh;
    line-height: 200%;
}
.statement p :first-child {
    line-height: 10px; 
}
.circles {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    flex-direction: row;
    align-items: flex-end;
    padding-left: 10vw;
    padding-right: 10vw;
    background-color: #232323;
    height: 50vh;
}
.circles h3 {
    align-content: center;
    justify-content: center;
    color: #54BE90;
}
.circles p {
    color: white;
    padding: 5px;
    line-height: 1.5;
    padding-bottom: 20px;
}
.semicircle {
    display: flex;
    background-color: #232323;
    flex-direction: row;
}
.half {
    color: white;
    height: 125px;
    width: 250px;
    border-radius: 0 0 125px 125px;
    justify-items: flex-start; 
    padding-left: 10vw;
    padding-right: 10vw;
    background-color: #232323;
}



/* skills elements below */
.skills {
    padding: 15vh 10vh;
}

.skills h1 {
    text-align: center;
    color: #54BE90;
    font-size: 3em;
    text-transform: uppercase;
    padding: 40px;
}
.chart {
    display: flex;
    border: 1px solid #232323;
    padding-top: 1px;
    list-style-type: none;
    
}



/* portfolio elements below */
.portfolio {
    background-color: #54BE90;
}
.portfolio h1 {
    /* align-content: center; */
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 40px;
    font-size: 3em;
}
.pictures {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
}
#one, #two, #three, #four, #five, #six {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 250px;
    background-color: lightgray;
    margin-top: 16px;
    margin-bottom: 16px;
    flex-direction: column;
    border: 5px solid white;
}
#six {
    border: 5px solid #232323;
}
#six img {
    border: 2px solid #232323;
}
#hackerbutton {
    background-color: #54BE90;
    align-items:flex-end; 
    padding: .25em 2em;
    border-radius: 5px;
    box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.75);
}
#hackerbutton a {
    text-decoration: none;
    color: white;
}
#hackerbutton :hover {
    color: black;
}
.pictures img {
    align-content: flex-start;
    border: 2px solid white;
    width: 85%;
    height: 55%;
}
.pictures p, .pictures h5 {
    width: 90%;
    padding-top: 5px;
    justify-content: space-around;
    align-content: center;
}
.pictures h5 {
    text-align:center;
    font-size: 150%;
}




/* about me section below */
.aboutme {
    background-color: lightgray;
    padding: 70px 40px;
}
.aboutme h1 {
    text-align: center;
    font-size: 3em;
    padding-bottom: 50px;
    text-transform: uppercase;
}
.aboutcontent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 50px;
}
.idpic {
    flex-basis: 30%; 
}
.mepar {
    /* width: 50%;
    vertical-align: middle; */
    flex-basis: 50%;
    padding-right: 50px;
 
}
.meunderline {
    text-decoration: underline;
    text-decoration-color: #54BE90;
    height: 2px;
}
#contactme {
    background-color: #54BE90;
    align-items:flex-end; 
    padding: .25em 2em;
    border-radius: 5px;
    box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.75);
}
#contactme a {
    text-decoration: none;
    color: white;
}
#contactme :hover {
    color: black;
}

/* findme below this line*/
.findme {
    background-color: black;
}
.findme h3 {
    padding-top: 60px;
    color: white;
    font-size: 2.5em;
    text-transform: uppercase;
    text-align: center;
}
.git {
    display: flex;
    flex-direction: row;
    padding-bottom: 40px;
    padding-top: 40px; 
    justify-content: space-around; 
}

/* contact form below this line */
.contactform {
    background-color: #54BE90;  
    color: white;
}

.contactform h1 {
    color: white;
    text-align: center;
    padding-top: 70px;
    font-size: 3em;
    text-transform: uppercase;
    padding-right: 50px;
    padding-left: 50px;
}
.contactinfo {
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    margin: auto;
}
.enterinfo {
    flex-wrap: wrap;
    justify-content: center;
    background: transparent;
    color: white;
    border: none;
    width: 400px;
    border-bottom: 2px dashed white;
    line-height: 250%;
}
.textbox {
    width: 70%;
    min-width: 70%;
    height: 300px;
    margin: auto;
}
.contactbutton {
    background-color: #232323;
    border-radius: 5px;
    padding: 0.25em 2em;
    margin: 5px;
    color: white;
    margin: auto;
    text-decoration: none;
}
/* .contactbutton :hover {
    background-color: white;
    color: #232323; */
}
/* footer below this line */
footer {
    background-color: whitesmoke;
}

.footer h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
    padding-top: 80px;
    padding-bottom: 60px;
    text-align: middle;
}
/* .decorated {
    height: 2px solid #54be54;
    width: 50px;
} */
.footerimg {
    display: flex;
    flex-direction: row;
    justify-content: center;  
}
.footerimg img {
    padding-left:15px;
    padding-right: 15px;
}
footer p {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: middle;
}
